<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>template test</title>
        <script src="http://111skr.github.io/artTemplate_Study/test/js/jquery-1.7.2.min.js"></script>
        <script src="http://111skr.github.io/artTemplate_Study/test/js/highcharts.js"></script>        
        <script src="http://111skr.github.io/artTemplate_Study/dist/template-native.js"></script>
        <script src="js/lazyT.last.js"></script>
        <script src="js/doT.js"></script>
        <!---
        <script src="http://111skr.github.io/artTemplate_Study/test/js/doT.js"></script>
        <script src="http://111skr.github.io/artTemplate_Study/src/template.js"></script>
        <script src="http://111skr.github.io/artTemplate_Study/test/js/tmpl.js"></script>
        <script src="http://111skr.github.io/artTemplate_Study/test/js/juicer.js"></script>
        <script src="http://111skr.github.io/artTemplate_Study/test/js/kissy.js"></script>
        <script src="http://111skr.github.io/artTemplate_Study/test/js/template.js"></script>
        <script src="http://111skr.github.io/artTemplate_Study/test/js/mustache.js"></script>
        <script src="http://111skr.github.io/artTemplate_Study/test/js/handlebars.js"></script>
        <script src="http://111skr.github.io/artTemplate_Study/test/js/baiduTemplate.js"></script>
        <script src="http://111skr.github.io/artTemplate_Study/test/js/jquery.tmpl.js"></script>
        <script src="http://111skr.github.io/artTemplate_Study/test/js/easytemplate.js"></script>
        <script src="http://111skr.github.io/artTemplate_Study/test/js/underscore.js"></script> -->
        <script>
         // 数据量
        var length = 1;
         // 渲染次数
        var number = 100000;
        var data = {
            'type': 'i',
            'auths': [],
            'loginResult': false,
            'isLogined': true,
            'userId': 1202614,
            'userName': '111skr',
            'viewedcars': [{
                "CarSerialId": "3705",
                "CarSerialTitle": "夏利N7",
                "CarSerialAllSpell": "tianjinyiqir008"
            }, {
                "CarSerialId": "1611",
                "CarSerialTitle": "福克斯三厢",
                "CarSerialAllSpell": "fukesisanxiang"
            }, {
                "CarSerialId": "2736",
                "CarSerialTitle": "阿斯顿马丁ONE-77",
                "CarSerialAllSpell": "asidunmadingone77"
            }],
            'owncar': [{
                "CarSerialId": "3705",
                "CarSerialAllSpell": "tianjinyiqir008",
                "CarSerialTitle": "夏利N7"
            }, {
                "CarSerialId": "2364",
                "CarSerialAllSpell": "benchicji-2364",
                "CarSerialTitle": "奔驰C级"
            }, {
                "CarSerialId": "2420",
                "CarSerialAllSpell": "biyadif0",
                "CarSerialTitle": "比亚迪F0"
            }],
            'plancar': [{
                "CarSerialId": "2780",
                "CarSerialAllSpell": "siborui",
                "CarSerialTitle": "思铂睿"
            }, {
                "CarSerialId": "3554",
                "CarSerialAllSpell": "changanb501",
                "CarSerialTitle": "悦翔V3"
            }, {
                "CarSerialId": "3528",
                "CarSerialAllSpell": "beijingbenchiglkji",
                "CarSerialTitle": "奔驰GLK级"
            }],
            'collectcar': [],
            'loginAction': false
        };
         // 待测试的引擎列表
        var testList = [
            {
                name: 'artTemplate',
                tester: function () {
                    template.isEscape = false;
                    var source = document.getElementById('template').innerHTML;
                    // console.time('artTemplate');
                    var fn = template.compile(source);
                    // console.timeEnd('artTemplate');
                    // console.time('artTemplate render')
                    for (var i = 0; i < number; i++) {
                        fn(data);
                    }
                    // console.timeEnd('artTemplate render');
                    if (typeof console !== 'undefined') console.log(fn.toString());
                }
            }, {
                name: 'doT',
                tester: function () {
                    var source = document.getElementById('doT').innerHTML;
                    // console.time('doT');
                    var doTtmpl = doT.template(source);
                    // console.timeEnd('doT');
                    // console.time('doT render')
                    for (var i = 0; i < number; i++) {
                        doTtmpl(data);
                    }
                    // console.timeEnd('doT render');
                    if (typeof console !== 'undefined') console.log(doTtmpl.toString());
                }
            }, {
                name: 'lazyT',
                tester: function () {
                    // console.time('lazyT');
                    var source = document.getElementById('lazyT-template').innerHTML,
                        fn = lazyT.tmpl(source);
                    // console.timeEnd('lazyT');
                    // console.time('lazyT render');
                    for (var i = 0; i < number; i++) {
                        fn(data);
                    }
                    // console.timeEnd('lazyT render');
                    if (typeof console !== 'undefined') console.log(fn.toString());
                }
            }
        ];
        var startTest = function () {
            var Timer = function () {
                this.startTime = +new Date;
            };
            Timer.prototype.stop = function () {
                return +new Date - this.startTime;
            };

            var colors = Highcharts.getOptions().colors;
            var categories = [];
            for (var i = 0; i < testList.length; i++) {
                categories.push(testList[i].name);
            }
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    height: categories.length * 80,
                    type: 'bar'
                },
                title: {
                    text: 'JavaScript 模板引擎负荷测试'
                },
                subtitle: {
                    text: length + ' 条数据 × ' + number + ' 次渲染'
                },

                xAxis: {
                    categories: categories,
                    labels: {
                        align: 'right',
                        style: {
                            fontSize: '12px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '耗时(毫秒)'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.y + '毫秒';
                    }
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true,
                            formatter: function () {
                                return this.y + 'ms';
                            }
                        }
                    }
                },
                series: [{
                    data: []
                }]
            });

            var log = function (message) {
                document.getElementById('log').innerHTML = message;
            };

            var tester = function (target) {


                var time = new Timer;
                target.tester();
                var endTime = time.stop();

                chart.series[0].addPoint({
                    color: colors.shift(),
                    y: endTime
                });


                if (!testList.length) {
                    log('测试已完成，请不要迷恋速度');
                    return;
                }
                target = testList.shift();

                log('正在测试: ' + target.name + '..');

                setTimeout(function () {
                    tester(target);
                }, 500);

            };

            var target = testList.shift();
            log('正在测试: ' + target.name + '..');
            tester(target);
        };
        </script>
        <!-- lazyT 的模板 -->
        <script id="lazyT-template" type="text/x-eazyT-template">
        <ul>
            {#? D.isLogined#}
            <li>
                您好,
            </li>
            <li class="bit_link" onmouseover="document.getElementById('ulIBitauto').style.display='';this.className='bit_link bit_hover'"
                onmouseout="document.getElementById('ulIBitauto').style.display='none';this.className='bit_link'">
                <strong>
                <a target="_blank" id="aHeaderUserName" href="http://i.qichetong.com/u{#=D.userId#}">
                {#=D.userName#}
                <em>
                </em>
                </a>
                <sub>
                </sub>
                </strong>
                <ul class="byname login_linkbox" id="ulIBitauto" style="display: none;">
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{#=D.userId#}/!forum/topics.html">
                        我的论坛
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/apps/!lukuang/">
                        实时路况
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{#=D.userId#}/!ask/">
                        我的问答
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{#=D.userId#}/!wz/">
                        违章查询
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{#=D.userId#}/!album/AlbumList.html">
                        我的相册
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{#=D.userId#}/!jz/">
                        用车记账
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{#=D.userId#}/!badges/default.html">
                        我的勋章
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{#=D.userId#}/!youhao/">
                        有号购车
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{#=D.userId#}/!giftshop/converted.html">
                        礼品兑换
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://j.bitauto.com/">
                        品牌之家
                        </a>
                    </li>
                    <li class="enteribit">
                        <a target="_blank" href="http://i.qichetong.com/">
                        进入汽车通&gt;&gt;
                        </a>
                    </li>
                </ul>
            </li>
            <li class="login_0" id="top_msg">
                <a target="_blank" href="http://i.qichetong.com/u{#=D.userId#}/MessageCenter/"
                class="">
                消息
                </a>
            </li>
            <li id="myfocuscar" class="bit_link" onmouseover="document.getElementById('login_myfocuscar').style.display='';this.className='bit_link bit_hover';" onmouseout="document.getElementById('login_myfocuscar').style.display='none';this.className='bit_link'">
                <strong>
                <a href="javascript:;">
                我关注的车
                <em>
                </em>
                </a>
                <sub>
                </sub>
                </strong>
                <ul class="focuscar login_linkbox" id="login_myfocuscar" style="display: none;">
                    <li>
                        <b>
                        最近看过
                        </b>
                        {#? D.viewedcars.length>0#}
                        {#~ D.viewedcars:car:index#}
                        <p>
                        <a target="_blank" href="http://car.bitauto.com/{#=car.CarSerialAllSpell#}">
                        {#=car.CarSerialTitle#}
                        </a>
                        </p>
                        {#~#}
                        {#?#}
                        {#?D.owncar.length>0#}
                        <b class="mygarage"><a target="_blank" href="http://i.qichetong.com/u{#=D.userId#}/car">我的车库</a></b>
                        {#~D.owncar:car:index#}
                        <p><a target="_blank" href="http://car.bitauto.com/{#=car.CarSerialAllSpell#}">{#=car.CarSerialTitle#}</a></p>
                        {#~#}
                        {#?#}
                    </li>
                </ul>
            </li>
            <li class="lastB">
                <a target="_self" href="javascript:Bitauto.Login.logout(this);">
                [退出]
                </a>
            </li>
            {#??#}
            <li>
                <label>
                    帐号
                </label>
                <input onkeypress="Bitauto.Login.onEnter(event,this,document.getElementById('txtUserPwdHeader'),document.getElementById('btnUserLoginHeader'));"
                class="bit_loginInput" name="txtUserNameTopHeader" id="txtUserNameTopHeader"
                type="text">
            </li>
            <li>
                <label>
                    密码
                </label>
                <input onkeypress="Bitauto.Login.onEnter(event,document.getElementById('txtUserNameTopHeader'),this,document.getElementById('btnUserLoginHeader'));"
                class="bit_loginInput" name="txtUserPwdHeader" id="txtUserPwdHeader" type="password">
            </li>
            <li class="login">
                <input value="登录" class="bit_logintop" id="btnUserLoginHeader" onclick="Bitauto.Login.login(document.getElementById('txtUserNameTopHeader'),document.getElementById('txtUserPwdHeader'))"
                type="button">
            </li>
            <li class="login_0">
                <a target="_blank" href="http://i.qichetong.com/authenservice/register/default.aspx">
                注册
                </a>
            </li>
            <li class="bit_link" onmouseover="document.getElementById('ulSqure').style.display='';this.className='bit_link bit_hover';"
                onmouseout="document.getElementById('ulSqure').style.display='none';this.className='bit_link';">
                <strong>
                <a href="javascript:void(0)">
                其它帐号登录
                <em>
                </em>
                </a>
                <sub>
                </sub>
                </strong>
                <ul id="ulSqure" style="display: none">
                    <li>
                        <a target="_self" class="sina" title="新浪微博帐号登录" href="javascript:void(0)"
                        onclick="Bitauto.Login.OtherWebSiteLogin('Sina');">
                        新浪微博
                        </a>
                    </li>
                    <li>
                        <a target="_self" class="qq" title="QQ帐号登录" href="javascript:void(0)"
                        onclick="Bitauto.Login.OtherWebSiteLogin('Tencent');">
                        QQ帐号
                        </a>
                    </li>
                    <li>
                        <a target="_self" title="人人网帐号登录" class="renren" href="javascript:void(0)"
                        onclick="Bitauto.Login.OtherWebSiteLogin('Renren');">
                        人人网
                        </a>
                    </li>
                    <li>
                        <a target="_self" id="kx001_btn_login" class="kaixin" href="javascript:void(0)"
                        onclick="Bitauto.Login.OtherWebSiteLogin('Kaixin');">
                        开心网
                        </a>
                    </li>
                    <li>
                        <a target="_self" class="baidu" href="javascript:void(0)" onclick="Bitauto.Login.OtherWebSiteLogin('Baidu');">
                        百度
                        </a>
                    </li>
                    <li class="last">
                        <a target="_self" class="taobao" href="javascript:void(0)" onclick="Bitauto.Login.OtherWebSiteLogin('Taobao');">
                        淘宝网
                        </a>
                    </li>
                </ul>
            </li>
            {#?#}
        </ul>
        </script>

        <!-- artTemplate 的模板 -->
        <script id="template" type="text/tmpl">
        <ul>
            <% if(isLogined){%>
            <li>
                您好,
            </li>
            <li class="bit_link" onmouseover="document.getElementById('ulIBitauto').style.display='';this.className='bit_link bit_hover'"
                onmouseout="document.getElementById('ulIBitauto').style.display='none';this.className='bit_link'">
                <strong>
                <a target="_blank" id="aHeaderUserName" href="http://i.qichetong.com/u<%=userId%>">
                <%=userName%>
                <em>
                </em>
                </a>
                <sub>
                </sub>
                </strong>
                <ul class="byname login_linkbox" id="ulIBitauto" style="display: none;">
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u<%=userId%>/!forum/topics.html">
                        我的论坛
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/apps/!lukuang/">
                        实时路况
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u<%=userId%>/!ask/">
                        我的问答
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u<%=userId%>/!wz/">
                        违章查询
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u<%=userId%>/!album/AlbumList.html">
                        我的相册
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u<%=userId%>/!jz/">
                        用车记账
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u<%=userId%>/!badges/default.html">
                        我的勋章
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u<%=userId%>/!youhao/">
                        有号购车
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u<%=userId%>/!giftshop/converted.html">
                        礼品兑换
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://j.bitauto.com/">
                        品牌之家
                        </a>
                    </li>
                    <li class="enteribit">
                        <a target="_blank" href="http://i.qichetong.com/">
                        进入汽车通&gt;&gt;
                        </a>
                    </li>
                </ul>
            </li>
            <li class="login_0" id="top_msg">
                <a target="_blank" href="http://i.qichetong.com/u<%=userId%>/MessageCenter/"
                class="">
                消息
                </a>
            </li>
            <li id="myfocuscar" class="bit_link" onmouseover="document.getElementById('login_myfocuscar').style.display='';this.className='bit_link bit_hover';" onmouseout="document.getElementById('login_myfocuscar').style.display='none';this.className='bit_link'">
                <strong>
                <a href="javascript:;">
                我关注的车
                <em>
                </em>
                </a>
                <sub>
                </sub>
                </strong>
                <ul class="focuscar login_linkbox" id="login_myfocuscar" style="display: none;">
                    <li>
                        <b>
                        最近看过
                        </b>
                        <% if(viewedcars.length>0){%>
                        <% for(var car,i=0,len=viewedcars.length;car=viewedcars[i],i<len;i++){%>
                        <p>
                        <a target="_blank" href="http://car.bitauto.com/<%=car.CarSerialAllSpell%>">
                        <%=car.CarSerialTitle%>
                        </a>
                        </p>
                        <%}%>
                        <%}%>
                        <%if(owncar.length>0){%>
                        <b class="mygarage"><a target="_blank" href="http://i.qichetong.com/u<%=userId%>/car">我的车库</a></b>
                        <% for(var car,i=0,len=owncar.length;car=owncar[i],i<len;i++){%>
                        <p><a target="_blank" href="http://car.bitauto.com/<%=car.CarSerialAllSpell%>"><%=car.CarSerialTitle%></a></p>
                        <%}%>
                        <%}%>
                    </li>
                </ul>
            </li>
            <li class="lastB">
                <a target="_self" href="javascript:Bitauto.Login.logout(this);">
                [退出]
                </a>
            </li>
            <%}else{%>
            <li>
                <label>
                    帐号
                </label>
                <input onkeypress="Bitauto.Login.onEnter(event,this,document.getElementById('txtUserPwdHeader'),document.getElementById('btnUserLoginHeader'));"
                class="bit_loginInput" name="txtUserNameTopHeader" id="txtUserNameTopHeader"
                type="text">
            </li>
            <li>
                <label>
                    密码
                </label>
                <input onkeypress="Bitauto.Login.onEnter(event,document.getElementById('txtUserNameTopHeader'),this,document.getElementById('btnUserLoginHeader'));"
                class="bit_loginInput" name="txtUserPwdHeader" id="txtUserPwdHeader" type="password">
            </li>
            <li class="login">
                <input value="登录" class="bit_logintop" id="btnUserLoginHeader" onclick="Bitauto.Login.login(document.getElementById('txtUserNameTopHeader'),document.getElementById('txtUserPwdHeader'))"
                type="button">
            </li>
            <li class="login_0">
                <a target="_blank" href="http://i.qichetong.com/authenservice/register/default.aspx">
                注册
                </a>
            </li>
            <li class="bit_link" onmouseover="document.getElementById('ulSqure').style.display='';this.className='bit_link bit_hover';"
                onmouseout="document.getElementById('ulSqure').style.display='none';this.className='bit_link';">
                <strong>
                <a href="javascript:void(0)">
                其它帐号登录
                <em>
                </em>
                </a>
                <sub>
                </sub>
                </strong>
                <ul id="ulSqure" style="display: none">
                    <li>
                        <a target="_self" class="sina" title="新浪微博帐号登录" href="javascript:void(0)"
                        onclick="Bitauto.Login.OtherWebSiteLogin('Sina');">
                        新浪微博
                        </a>
                    </li>
                    <li>
                        <a target="_self" class="qq" title="QQ帐号登录" href="javascript:void(0)"
                        onclick="Bitauto.Login.OtherWebSiteLogin('Tencent');">
                        QQ帐号
                        </a>
                    </li>
                    <li>
                        <a target="_self" title="人人网帐号登录" class="renren" href="javascript:void(0)"
                        onclick="Bitauto.Login.OtherWebSiteLogin('Renren');">
                        人人网
                        </a>
                    </li>
                    <li>
                        <a target="_self" id="kx001_btn_login" class="kaixin" href="javascript:void(0)"
                        onclick="Bitauto.Login.OtherWebSiteLogin('Kaixin');">
                        开心网
                        </a>
                    </li>
                    <li>
                        <a target="_self" class="baidu" href="javascript:void(0)" onclick="Bitauto.Login.OtherWebSiteLogin('Baidu');">
                        百度
                        </a>
                    </li>
                    <li class="last">
                        <a target="_self" class="taobao" href="javascript:void(0)" onclick="Bitauto.Login.OtherWebSiteLogin('Taobao');">
                        淘宝网
                        </a>
                    </li>
                </ul>
            </li>
            <%}%>
        </ul>
        </script>
        <!-- doT 的模板 -->
        <script id="doT" type="text/tmpl">
        <ul>
            {{? it.isLogined}}
            <li>
                您好,
            </li>
            <li class="bit_link" onmouseover="document.getElementById('ulIBitauto').style.display='';this.className='bit_link bit_hover'"
                onmouseout="document.getElementById('ulIBitauto').style.display='none';this.className='bit_link'">
                <strong>
                <a target="_blank" id="aHeaderUserName" href="http://i.qichetong.com/u{{=it.userId}}">
                {{=it.userName}}
                <em>
                </em>
                </a>
                <sub>
                </sub>
                </strong>
                <ul class="byname login_linkbox" id="ulIBitauto" style="display: none;">
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{{=it.userId}}/!forum/topics.html">
                        我的论坛
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/apps/!lukuang/">
                        实时路况
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{{=it.userId}}/!ask/">
                        我的问答
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{{=it.userId}}/!wz/">
                        违章查询
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{{=it.userId}}/!album/AlbumList.html">
                        我的相册
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{{=it.userId}}/!jz/">
                        用车记账
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{{=it.userId}}/!badges/default.html">
                        我的勋章
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{{=it.userId}}/!youhao/">
                        有号购车
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://i.qichetong.com/u{{=it.userId}}/!giftshop/converted.html">
                        礼品兑换
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://j.bitauto.com/">
                        品牌之家
                        </a>
                    </li>
                    <li class="enteribit">
                        <a target="_blank" href="http://i.qichetong.com/">
                        进入汽车通&gt;&gt;
                        </a>
                    </li>
                </ul>
            </li>
            <li class="login_0" id="top_msg">
                <a target="_blank" href="http://i.qichetong.com/u{{=it.userId}}/MessageCenter/"
                class="">
                消息
                </a>
            </li>
            <li id="myfocuscar" class="bit_link" onmouseover="document.getElementById('login_myfocuscar').style.display='';this.className='bit_link bit_hover';" onmouseout="document.getElementById('login_myfocuscar').style.display='none';this.className='bit_link'">
                <strong>
                <a href="javascript:;">
                我关注的车
                <em>
                </em>
                </a>
                <sub>
                </sub>
                </strong>
                <ul class="focuscar login_linkbox" id="login_myfocuscar" style="display: none;">
                    <li>
                        <b>
                        最近看过
                        </b>
                        {{? it.viewedcars.length>0}}
                        {{~ it.viewedcars:car:index}}
                        <p>
                        <a target="_blank" href="http://car.bitauto.com/{{=car.CarSerialAllSpell}}">
                        {{=car.CarSerialTitle}}
                        </a>
                        </p>
                        {{~}}
                        {{?}}
                        {{?it.owncar.length>0}}
                        <b class="mygarage"><a target="_blank" href="http://i.qichetong.com/u{{=it.userId}}/car">我的车库</a></b>
                        {{~it.owncar:car:index}}
                        <p><a target="_blank" href="http://car.bitauto.com/{{=car.CarSerialAllSpell}}">{{=car.CarSerialTitle}}</a></p>
                        {{~}}
                        {{?}}
                    </li>
                </ul>
            </li>
            <li class="lastB">
                <a target="_self" href="javascript:Bitauto.Login.logout(this);">
                [退出]
                </a>
            </li>
            {{??}}
            <li>
                <label>
                    帐号
                </label>
                <input onkeypress="Bitauto.Login.onEnter(event,this,document.getElementById('txtUserPwdHeader'),document.getElementById('btnUserLoginHeader'));"
                class="bit_loginInput" name="txtUserNameTopHeader" id="txtUserNameTopHeader"
                type="text">
            </li>
            <li>
                <label>
                    密码
                </label>
                <input onkeypress="Bitauto.Login.onEnter(event,document.getElementById('txtUserNameTopHeader'),this,document.getElementById('btnUserLoginHeader'));"
                class="bit_loginInput" name="txtUserPwdHeader" id="txtUserPwdHeader" type="password">
            </li>
            <li class="login">
                <input value="登录" class="bit_logintop" id="btnUserLoginHeader" onclick="Bitauto.Login.login(document.getElementById('txtUserNameTopHeader'),document.getElementById('txtUserPwdHeader'))"
                type="button">
            </li>
            <li class="login_0">
                <a target="_blank" href="http://i.qichetong.com/authenservice/register/default.aspx">
                注册
                </a>
            </li>
            <li class="bit_link" onmouseover="document.getElementById('ulSqure').style.display='';this.className='bit_link bit_hover';"
                onmouseout="document.getElementById('ulSqure').style.display='none';this.className='bit_link';">
                <strong>
                <a href="javascript:void(0)">
                其它帐号登录
                <em>
                </em>
                </a>
                <sub>
                </sub>
                </strong>
                <ul id="ulSqure" style="display: none">
                    <li>
                        <a target="_self" class="sina" title="新浪微博帐号登录" href="javascript:void(0)"
                        onclick="Bitauto.Login.OtherWebSiteLogin('Sina');">
                        新浪微博
                        </a>
                    </li>
                    <li>
                        <a target="_self" class="qq" title="QQ帐号登录" href="javascript:void(0)"
                        onclick="Bitauto.Login.OtherWebSiteLogin('Tencent');">
                        QQ帐号
                        </a>
                    </li>
                    <li>
                        <a target="_self" title="人人网帐号登录" class="renren" href="javascript:void(0)"
                        onclick="Bitauto.Login.OtherWebSiteLogin('Renren');">
                        人人网
                        </a>
                    </li>
                    <li>
                        <a target="_self" id="kx001_btn_login" class="kaixin" href="javascript:void(0)"
                        onclick="Bitauto.Login.OtherWebSiteLogin('Kaixin');">
                        开心网
                        </a>
                    </li>
                    <li>
                        <a target="_self" class="baidu" href="javascript:void(0)" onclick="Bitauto.Login.OtherWebSiteLogin('Baidu');">
                        百度
                        </a>
                    </li>
                    <li class="last">
                        <a target="_self" class="taobao" href="javascript:void(0)" onclick="Bitauto.Login.OtherWebSiteLogin('Taobao');">
                        淘宝网
                        </a>
                    </li>
                </ul>
            </li>
            {{?}}
        </ul>
        </script>
    </head>
    <body>
<h1>引擎渲染速度竞赛</h1>
<p><strong><script>document.write(length)</script></strong> 条数据 × <strong><script>document.write(number)</script></strong> 次渲染测试 [isEscape:false, isCache:true]</p>
<p><em>建议在拥有 v8 javascript 引擎的 chrome 浏览器上进行测试，避免浏览器停止响应</em></p>
<p><button id="button-test" onclick="this.disabled=true;startTest()" style="padding: 5px;">开始测试&raquo;</button> <span id="log" style="font-size:12px"><script>for (var i = 0; i < testList.length; i ++) {document.write(testList[i].name + '; ')}</script></span></p>
<div id="container" style="min-width: 400px; margin: 0 auto"></div>
    </body>
</html>